p{
	background-color:yellow;
	font-size:10;
}
header{
	color:pink;
	background-color:green;
	font-size:20px;
	text-align:center;
	margin:10px 40px 15 px 12px;
}
OL{
	color:MAROON;
	background-color:BROWN;
}
	